@import "../../index.scss";

.legacyP{
    text-align: center !important;
    font-size: 10px;
}

.terminos{
    text-align: center !important;
    font-size: 10px !important;
}

.grayText{
    color: $color-secu-d;
}

.linkText{
    color: $color-link;
}