.fondo{
    background: url('../../assets/img/background\ login.png') center center fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items:  center;
    text-align: center;
    justify-content: center;
}

.cardDefault{
    width: 300px;
    height: auto;
    padding: 10px 70px 10px 70px;
}